@charset "uft-8";

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration-line: none;
      align-items: none;
    }

    body{
      margin: 0;
    }

    a{
      text-decoration: none;
      color: white;
    }

    .navgar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0b1a41;
      padding: 8px 12px;
    }

    .navbar_logo{
      font-size: 40px;
      color: white;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .navbar_menu{
      display: flex;
      list-style: none;
      font-size: 18px;
    }

    .navbar_menu li{
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .navbar_menu li:hover{
      background-color: #d49466;
      color: black;
      border-radius: 2px;
    }

    .iframe{
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
    }

    @media screen and (max-width: 768px){
      .navgar{
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        text-align: center;
        padding: 8px 24px;
      }

      .navbar_menu{
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .navbar_menu li{
        width: 100%;
        align-items: center;
        text-align: center;
      }
    }
