<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Wave</title>
	<link rel="stylesheet" href="stylesheet/indexstyle.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="navgar">
		<div class="navbar_logo">
			<i class="fab fa-accusoft"></i>
			<a href="#">New Wave</a>
		</div>

		<ul class="navbar_menu">
			<a id="msg">
				<li>Message</li>
			</a>
			<a id="map">
				<li>Map</li>
			</a>
			<a id="video">
				<li>Video</li>
			</a>
		</ul>

		<ul class="navbar_login">
			<i class="fas fa-sign-in-alt"></i>
			<i class="far fa-user"></i>
		</ul>

	</nav>
	<div class="iframe">
		<iframe id="page" src="/gps" width="1400" height="700"></iframe>
	</div>
	<script src="/js/index.js"></script>
</body>

</html>
