<!DOCTYPE html>
<html lang='ko'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>New Wave</title>
	<link rel='stylesheet' href='stylesheet/indexstyle.css'>
</head>
<body>
	<nav class='navgar'>
		<div class='navbar_logo'>
			<i class='fab fa-accusoft'></i>
			<img src='images/LOGO.png' alt='New Wave' width='295.2' height='58.4'>
		</div>
		<div>
		<ul class='navbar_menu'>
			<a id='msg'>
				<li>Message</li>
			</a>
			<a id='map'>
				<li>Map</li>
			</a>
			<a id='video'>
				<li>Video</li>
			</a>
		</ul>
		<ul class='navbar_login'>
			<i class='fas fa-sign-in-alt'></i>
			<i class='far fa-user'></i>
		</ul>
	</nav>
	<div class='iframe'>
		<iframe id='page' src='/video' frameborder='0' scrolling='yes' style='display:block; height:85vh; width:100%;'></iframe>
	</div>
	<script src='/js/index.js'></script>
</body>
</html>
