@charset "uft-8";
:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration-line: none;
  align-items: none;
}

body{
  margin: 0;
  font-family: 'Luxurious Roman';
}

a{
  text-decoration: none;
  color: white;
}

.navgar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1a41;
  padding: 8px 12px;
}

.navbar_logo{
  font-size: 24px;
  color: white;
  padding-left: 5px;
}

.navbar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li{
  padding: 8px 30px;
}

.navbar_menu li:hover{
  background-color: #d49466;
  border-radius: 2px;
}

.navbar_login{
  list-style: none;
  color: white;
  display: flex;
}

.navbar_login li{
padding: 8px 12px;
}

@media screen and (max-width: 768px){
  .navgar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu{
    flex-direction:
    align-items: center;
    width: 100%
  }

  .navbar_menu li{
    width: 100%;
    text-align: center;
  }
}
