<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <meta charset='utf-8' />

  <!-- Mobile page optimization -->
  <!-- 모바일 페이지 최적화 -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>

  <link rel='stylesheet' href='leaflet.css'/>
  <script src='leaflet.js'></script>
  <link rel='stylesheet' href='stylesheet/gpsstyle.css'>
</head>
<body>

<!-- Map div element to be displayed on the screen -->
<!-- 화면에 보여질 맵 div 요소-->
<div id='map'></div>
<div>
  <button id='alarm' class='sosButton'>SOS</button>
</div>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/gps.js'></script>

</body>
</html>
